h1 {
    font-family: $font-title;
    font-size: 1.8rem;
    color: $white;
    background-color: $black;
    padding: 0.7rem;
}

h2 {
    font-family: $font-title;
    color: $black;
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

h3 {
    font-family: $font-body;
    color: $black;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

p {
    font-family: $font-body;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.grey {
    color: $grey;
}
